:root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  body {
    font: 1em/1.618 Inter, sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    background:
      url(../images/25235.jpg)
      center / cover no-repeat fixed;
  }
  
  .card {
    max-width:80%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 500px;
    height:fit-content;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(5px);
    margin:30px;
  }

  .create-quiz-card{
    max-width:80%;
    height:65vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 500px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(5px);
    margin:30px;
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }

  .warning{
    font-size: smaller;
    color: rgb(255, 143, 143);
  }

  .button-wrapper{
    margin-top: 18px;
    display:flex;
    flex-direction: column;
  }
  

.btn{
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 5px;
}

.btn:hover,

.btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.form-control {
    width: 100%;
    height: 30px;
    background: rgba(164, 164, 164, 0.2);
    border-radius:25px;
    border-color: rgb(255, 255, 255);
    padding:5px;
}

.quiz-edit-card{
  max-width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:fit-content;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  margin:30px;
}
.span{
  margin-top: 80px;
}

.editinputfield{
  border-radius: 0.4rem;
  box-shadow: 0 0 5px rgb(75, 75, 75);
  height: 30px;
  width: 50%;
}

.alltest-wrapper{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}

.illustration{
  max-width: 90%;
  height: auto;
  margin-top:30px;
  margin-left:20px;
}

.illustration-ss{
  max-width: 80%;
  height: auto;
  margin-top:30px;
  margin-left:40px;
  margin-right:20px;
  float:right;
}

.answer-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answer-button{
  align-items: center;
  background-color: #ffffff;
  border-color:#161616;
  border-radius: 100px;
  box-sizing: border-box;
  color: #161616;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 5px;

}